# Frontend (Vite + React) — ejemplo
# NO subas un .env real con secretos.

# Auth0 SPA
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=

# Debe coincidir con el API Identifier definido en Auth0
VITE_AUTH0_AUDIENCE=https://lab10-tdsn-api

# URL base del backend
# En local: http://localhost:8080
# En prod: tu API Gateway (microservicios) o backend desplegado
VITE_API_BASE_URL=http://localhost:8080
