# Copia a .env. Auth0 igual en monolito y microservicios.

VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_AUDIENCE=https://lab10-tdsn-api

# Monolito: deja MICROSERVICES vacío.
VITE_API_BASE_URL=http://localhost:8080
VITE_MICROSERVICES_BASE_URL=

# Microservicios: pon la URL del sam local o del HttpApi y puedes dejar API_BASE_URL como arriba.
# VITE_MICROSERVICES_BASE_URL=http://127.0.0.1:3000
